.chart-title {
    -fx-font-size: 1em;
    -fx-rotate: 90deg;
}

/*.default-color0.chart-series-line { -fx-stroke: #49e900; }
.default-color1.chart-series-line { -fx-stroke: #f00063; }
.default-color2.chart-series-line { -fx-stroke: #dcdd05; }*/